/* Import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root { 
  /* Base color pallete */
  --color-yellow: #E9C46A;
  --color-green-dark: #264653;
  --color-green-darker: #162c35;
  --color-green-light: #2A9D8F;
  --color-orange: #E76F51;
  
  
  /* Trophy colors */
  --color-gold: #FFD700;
  --color-silver: #C0C0C0;
  --color-bronze: #CD7F32;
}